Source: turtlebot-wallpapers
Section: x11
Priority: optional
Maintainer: Human x Robot <code@hxr.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4
Homepage: https://github.com/TurtleBot-Mfg/turtlebot-wallpapers
Vcs-Git: https://github.com/TurtleBot-Mfg/turtlebot-wallpapers
Vcs-Browser: https://github.com/TurtleBot-Mfg/turtlebot-wallpapers

Package: turtlebot-wallpapers
Architecture: all
Provides: turtlebot-wallpapers
Conflicts:
Replaces:
Depends: ${misc:Depends}
Description: TurtleBot themed wallpapers
 The default Wallpapers for TurtleBot mobile robots.
  * TurtleBot Backgrounds
